doctype html
html(lang="en")
  head
    block page-title
      title Page title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='css/main.css')

  block vars
    - var bodyClasses = '';

  body(class=bodyClasses)
    .page
      header.header
      .page-content
        block page-content
      footer.footer
    block additional-content

    script(src='js/main.js')
